[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pygobject = "*"
pipenv = "*"
nuitka = "==0.6.10"
belonesox-tools = {editable = true, git = "https://github.com/belonesox/python-belonesox-tools.git"}
vext = "*"
"vext.gi" = "*"

[requires]
python_version = "3.8"
